In [1]:
import pandas as pd
import numpy as np
from scipy.stats import poisson 
from matplotlib import pyplot as plt
import seaborn as sns

In [44]:
ta22 = pd.read_html('https://mexico.as.com/resultados/futbol/mexico_apertura/2022/clasificacion/',encoding='UTF-8')
tc22 = pd.read_html('https://mexico.as.com/resultados/futbol/mexico_clausura/2022/clasificacion/',encoding='UTF-8')
ta20 = pd.read_html('https://mexico.as.com/resultados/futbol/mexico_apertura/2020/clasificacion/',encoding='UTF-8')
tc20 = pd.read_html('https://mexico.as.com/resultados/futbol/mexico_clausura/2020/clasificacion/',encoding='UTF-8')
ta19 = pd.read_html('https://mexico.as.com/resultados/futbol/mexico_apertura/2019/clasificacion/',encoding='UTF-8')
tc19 = pd.read_html('https://mexico.as.com/resultados/futbol/mexico_clausura/2019/clasificacion/',encoding='UTF-8')

In [75]:
tc19[2]['Pts.']

0     19
1     18
2     13
3     14
4     10
5     16
6      4
7     10
8      6
9     13
10     5
11    10
12    10
13     5
14     3
15     5
16     0
17     2
Name: Pts., dtype: int64

In [7]:
j1=pd.read_html('https://us.as.com/resultados/ficha/deportista/alejandro_zendejas/33273/2023/estadisticas/mexico_clausura/')

In [70]:
lista1=tc19[1]['Equipo']
cambio1={lista1[0]:'Leon',lista1[1]:'Tigres',lista1[2]:'Monterrey',lista1[3]:'Cruz Azul',lista1[4]:'America',lista1[5]:'Necaxa',lista1[6]:'Pachuca',lista1[7]:'Tijuana',lista1[8]:'Toluca',lista1[9]:'Puebla',lista1[10]:'Santos',lista1[11]:'Lobos',lista1[12]:'Atlas',lista1[13]:'Chivas',lista1[14]:'Pumas',lista1[15]:'Monarcas',lista1[16]:'Queretaro',lista1[17]:'Tiburones'}
data=tc19[1].replace(cambio1)
lista2=tc19[2]['Equipo']
cambio2={lista1[0]:'Leon',lista1[1]:'Tigres',lista1[2]:'Monterrey',lista1[3]:'Cruz Azul',lista1[4]:'America',lista1[5]:'Necaxa',lista1[6]:'Pachuca',lista1[7]:'Tijuana',lista1[8]:'Toluca',lista1[9]:'Puebla',lista1[10]:'Santos',lista1[11]:'Lobos',lista1[12]:'Atlas',lista1[13]:'Chivas',lista1[14]:'Pumas',lista1[15]:'Monarcas',lista1[16]:'Queretaro',lista1[17]:'Tiburones'}
data1=tc19[2].replace(cambio1)

In [81]:
data['Equipo']

0          Leon
1        Tigres
2     Monterrey
3     Cruz Azul
4       America
5        Necaxa
6       Pachuca
7       Tijuana
8        Toluca
9        Puebla
10       Santos
11        Lobos
12        Atlas
13       Chivas
14        Pumas
15     Monarcas
16    Queretaro
17    Tiburones
Name: Equipo, dtype: object

In [83]:
data2=(data)+data1
# encuentra los valores duplicados en la columna
duplicados = data2['Equipo'].duplicated(keep=False)

# renombra los valores duplicados agregando '_1' al final
data2.loc[duplicados, 'Equipo'] = data2.loc[duplicados, 'Equipo'] + '_1'

# luego puedes hacer la operación de suma de dataframes
data2 = (data - data['Equipo']) + data1

                Equipo  Pts.  PJ  PG  PE  PP  GF  GC
0             LeonLeon    41  17  13   2   2  41  14
1         TigresTigres    37  17  11   4   2  33  16
2   MonterreyMonterrey    30  17   8   6   3  33  21
3   Cruz AzulCruz Azul    30  17   8   6   3  26  15
4       AmericaAmerica    29  17   9   2   6  28  19
5         NecaxaNecaxa    29  17   8   5   4  32  24
6       PachucaPachuca    28  17   8   4   5  32  26
7       TijuanaTijuana    28  17   9   1   7  25  20
8         TolucaToluca    25  17   7   4   6  28  23
9         PueblaPuebla    24  17   6   6   5  18  21
10        SantosSantos    22  17   6   4   7  21  23
11          LobosLobos    20  17   6   2   9  17  34
12          AtlasAtlas    19  17   6   1  10  19  28
13        ChivasChivas    18  17   5   3   9  16  21
14          PumasPumas    17  17   4   5   8  19  26
15    MonarcasMonarcas    13  17   2   7   8  20  31
16  QueretaroQueretaro    11  17   3   2  12  11  30
17  TiburonesTiburones     4  17   0   4  13   7  34

In [ ]:
Unnamed: 0_level_0